html {
	background-color: #f2dfb9;
}

body {
	font-family: Trebuchet MS, Arial, Verdana, sans-serif;
	background-color: #f9f4e1;
	
	border: 30px solid transparent;
	border-image: url('img/borders.png') 30 round;
	padding: 0;
	
	/* box-shadow: 1px 1px 2px #33333399; */
}

body > * {
	margin: -15px;
}
body > * + * {
	margin-top: 1.5em;
}

header h1 {
	margin-top: 0;
}

aside h3 {
	margin-bottom: .5em;
}
